<html lang="en">

<head>
	<meta name="robots" content="noindex">
	<meta charset="UTF-8">
	<title>YBCO</title>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "component" %>
	<%= stylesheet_link_tag "flickity/flickity.css" %>
	<%= javascript_include_tag "application"%>

	<!-- bower:css -->
	<!--link rel="stylesheet" href="../bower_components/unsemantic/assets/stylesheets/unsemantic-grid-responsive-no-ie7.css" -->
	<!--link rel="stylesheet" href="../bower_components/unsemantic/assets/stylesheets/unsemantic-grid-responsive-tablet-no-ie7.css"-->
	<!-- endbower -->

	<!--link rel="stylesheet" href="css/nlform/component.css"-->
	<!--link rel="stylesheet" href="css/flickity/flickity.css"-->
	<!--link rel="stylesheet" href="css/style.css"-->

	<link rel="icon" type="image/png" href="favicon.png">

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header class="page-header">
		<button class="site-menu-open js-site-menu-toggle">
			<span class="l--hidden">Open Site Menu</span>
			<i class="icon icon--menu"></i>
		</button>

		<h1 class="site-logo logo">
      <%= link_to '', root_path , class: "icon icon--ybco-logomark" %>
		</h1>


		<section class="site-menu" id="site-menu">
			<button class="site-menu-close js-site-menu-toggle">
				<i class="site-menu-logo icon icon--ybco-lockup"></i>
				<i class="icon icon--large-cross"></i>
			</button>

			<a href="#" class="button button--fill" rel="internal">
				Get Started
				<i class="icon icon--chevron-right"></i>
			</a>

			<nav class="site-menu-block site-navigation">
				<ul class="site-navigation-list">
					<li class="site-navigation-list__item">
            <%= link_to 'Home', root_path ,rel: "internal" %>
					</li>
					<li class="site-navigation-list__item">
            <%= link_to 'Tour', "#", rel: "internal" %>
          </li>
					<li class="site-navigation-list__item">
            <%= link_to 'Explore', "#", rel: "internal" %>
					</li>
					<li class="site-navigation-list__item">
            <%= link_to 'Pricing', "#", rel: "internal" %>
					</li>
					<li class="site-navigation-list__item">
            <%= link_to 'Log In', "../sessions/new", rel: "internal" %>
					</li>
					<li class="site-navigation-list__item">
            <%= link_to 'Sign Up', "../users/new", rel: "internal" %>
					</li>
				</ul>

				<ul class="site-navigation-list--small">
					<li class="site-navigation-list__item">
						<a href="#" rel="internal">About Y&B</a>
					</li>
					<li class="site-navigation-list__item">
						<a href="#" rel="internal">Support</a>
					</li>
					<li class="site-navigation-list__item">
						<a href="#" rel="internal">Community Guidelines</a>
					</li>
				</ul>
			</nav>

			<ul class="site-menu-block social-links">
				<li class="social-link"><a href="http://www.facebook.com/ybco.co" target="_blank">
					<span class="l--hidden">Facebook</span>
					<i class="icon icon--facebook-with-circle"></i>
				</a></li>
				<li class="social-link"><a href="http://www.twitter.com/youngboldco" target="_blank">
					<span class="l--hidden">Twitter</span>
					<i class="icon icon--twitter-with-circle"></i>
				</a></li>
			</ul>
		</section>

		<section class="site-utilities">
			<ul class="site-utilities-links">
				<li>
          <%= link_to 'Log In', "login", class: "site-utilities-link", rel: "internal" %>
					/
          <%= link_to 'Sign Up', "signup", class: "site-utilities-link", rel: "internal" %>
				</li>
			</ul>
		</section>
	</header>
</body>