<%= render "layouts/header" %>
<%= yield %>

<div class="page-main">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "component" %>
  <%= javascript_include_tag "application"%>

  <div class="page-section">
     <legend class="form-heading heading"> Change Password </legend>
<%= form_for :user,url: user_path(@user),method: :patch do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><font color=red><%= msg %></font></li>
        <% end %>
      </ul>
    </div>
    <% end %>   
    <p>
     <div class="form-field">
      <%= f.password_field :password, class: "form-input" %>
      <label class="form-label" for="password">Password</label>
      </div>
    </p>
    
    <p>
     <div class="form-field">
      <%= f.password_field :password_confirmation, class: "form-input" %>
      <label class="form-label" for="password-confirmation">Password confirmation</label>
      </div>
    </p>
    
    <p>
    <div class="form-actions">
      <%= f.submit "SUBMIT", class: "button--stroke--long" %>
      </div>
    </p>
    <% end %>

    <p>
    <div class="form-actions">
    <%= link_to 'BACK', "../../dashboards/index" %>
    </div>
    </p>
  </div>
</div>

<%= render "layouts/footer" %>
<%= yield %>