<%= render "layouts/header" %>
<%= yield %>

<div class="page-main">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "component" %>
  <%= stylesheet_link_tag "flickity/flickity.css" %>
  <%= javascript_include_tag "application"%>


  <div class="page-section">
	  <legend class="form-heading heading"> Sign Up</legend>
    <p><b>Get ready to create, innovate, and change the world.</b></p>
    <br>
    <br>
    <%= form_for(@user) do |f| %>              
        <%= f.hidden_field :is_admin, :value => false %>
        <%= f.hidden_field :is_banned, :value => false %>
        <div class="form-field">
        <% if @user.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <b><u>Errors:</u></b>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
          </div>
        <div class="form-field">
			<%= f.text_field :first_name, class: "form-input", placeholder: "First Name" %>
			<label class="form-label" for="first-name">First Name</label>
        </div>
        <div class="form-field">
			<%= f.text_field :last_name, class: "form-input", placeholder: "Last Name" %>
			<label class="form-label" for="last-name">Last Name</label>
        </div>
        <div class="form-field">
      <%= f.text_field :address, class: "form-input", placeholder: "Home Address" %>
      <label class="form-label" for="last-name">Home Address</label>
        </div>
        <div class="form-field">
			<%= f.text_field :email, class: "form-input", placeholder: "Email" %>
			<label class="form-label" for="email">Email</label>
        </div>
        <div class="form-field">
			<%= f.password_field :password, class: "form-input", placeholder: "Password" %>
			<label class="form-label" for="password">Password</label>
	  	</div>
        <div class="form-field">
			<%= f.password_field :password_confirmation, class: "form-input", placeholder: "Password Confirmation" %><label class="form-label" for="password">Confirm Password</label>
        </div>

        <div class="form-actions">
			<%= f.submit "Create Account", class: "button--stroke--long" %>
        </div>
    <% end %>
    <br>
	  <div class="form-footnote">
    <p>By signing up, you agree to our <b><%= link_to 'Terms of Use, Privacy Policy', pages_term_path %></b> and
      <b><%= link_to 'Community Rules', pages_comrules_path %>.</b></p>
	  </div>
    <br>
    <p><b>Already have an account? <%= link_to 'Log in', "../sessions/new" %>.</b></p>
  </div>
</div>

<%= render "layouts/footer" %>
<%= yield %>