
<div class="page-main">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "component" %>
  <%= javascript_include_tag "application"%>
 	<div class="page-section">
     	<legend class="form-heading heading"> Admin Dashboard </legend>
     		Welcome home, <%= @current_user.first_name %> <%= @current_user.last_name %> !<br>			
			<%= link_to "Manage Admins", controller: "admins", action: "manage" %><br>
			<%= link_to "Manage Users", controller: "users", action: "index" %><br>
			<%= link_to "View Statistics", controller: "admins", action: "index" %>Deadlink<br>			
			<%= link_to "Manage Projects", controller: "admins", action: "index" %>Deadlink<br>
			<%= link_to "Logout", controller: "sessions", action: "destroy" %>
			<!-- Display parameters -->
			<!--<hr/>
			Inspecting Parameters
			<%=params.inspect%>
			Session ID is=<%=session[:user_id] %>
			<%= session.inspect %> -->
	</div>
</div>