<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<%= render "layouts/header" %>
<%= yield %>
<main class="page-main">	
 <section class="page-section--hero page-section--sky-blue l--full-height" style="background-image: url('/assets/home-hero-1.jpg');"> 

  <div class="l--vertical-center l--half-width--right">
   <header>
    <h2 class="section-heading heading--large"><span class="subheading l--block">Work on</span> ideas that<br> matter</h2>
   </header>

   <a href="#" class="button--link">Get Started</a>
  </div>
 </section>

 <section class="page-section--hero--contain--bottom l--full-height" style="background-image: url('/assets/home-hero-2.jpg');">
  <header>
   <div class="wrap--small">
    <h2 class="heading">Taking the first step has never been easier</h2>
    <p>Create a smartwatch, produce a feature film, or set up an orphanage. No matter what you want to do, Y&B’s StartupKit will guide you from the incubation of your idea until its execution.</p>
   </div>
  </header>

  <div class="l--padded">
  <a href="#" class="button--scroll-down js-scrollto-button" data-scroll-target="#js-scrollto-crowdfund">
   Discover
   <i class="icon icon--chevron-thin-down"></i>
  </a>
  </div>
 </section>

 <section class="page-section--hero page-section--ocean-blue" id="js-scrollto-crowdfund" style="background-image: url('/assets/home-hero-3.jpg');">
  <header>
    <div class="l--vertical-center l--half-width--right">
    <div class="grid-container">
     <div class="grid-50 push-50">
      <h2 class="section-heading heading heading--icon">
       <i class="icon icon--coin"></i>
       Crowdfund for free
      </h2>
		 
      <p>Unlike existing crowdfunding models, Y&B does not take a cut from your target amount, only a percentage of the excess raised.</p>
     </div>
    </div>
   </div>
  </header>
 </section>

 <section class="page-section--hero page-section--lime-green l--unpad--bottom">
  <header>
   <div class="wrap--small">
    <h2 class="section-heading heading heading--icon">
     <i class="icon icon--map"></i>
     Create with no boundaries
    </h2>
    <p>At Y&B, crowdsourcing brings together creatives, innovators and funders to spark new projects. It has never been easier to create, innovate, and change the world - across different time zones, one idea at a time.</p>
   </div>
  </header>

  <div class="wrap--large">
   <div class="TEMP" style="background-image:url(/assets/home-hero-4.jpg);background-size: cover;background-repeat: no-repeat;background-position:center center;padding-bottom:78.125%;">
   </div>
  </div>
 </section>

 <section class="page-section page-section--pine-green t--left">
  <header>
   <div class="wrap">
    <div class="grid-container">
     <div class="grid-45">
      <h2 class="section-heading heading heading--icon--left">
       <i class="icon icon--origami"></i>
       Reinventing<br>your<br>office
      </h2>
     </div>
     <div class="grid-45 push-10">
      <p>Stay on top of your projects using threads. Start an international conference call from your living room. Share and edit files on-the-go. With our Digital Workstation, you can bring your ideas to life anywhere, any time.</p>
     </div>
    </div>
   </div>
  </header>
 </section>

 <section class="page-section--hero page-section--white l--full-height" style="background-image: url(/assets/home-hero-5.jpg);">
  <header>
   <div class="wrap--xsmall l--absolute-center">
    <h2 class="section-heading heading heading--icon">
     <i class="icon icon--venn"></i>
     Discover new ideas to love
    </h2>
    <p>When you discover a project, you discover new possibilities. At Y&B, we curate projects just for you. With just a click, you can explore and be a part of amazing ideas and movements from around the world.</p>
   </div>
  </header>
 </section>
</main>
<%= render "layouts/try" %>
<%= yield %>

<%= render "layouts/footer" %>
<%= yield %>
